body {
	background: floralwhite
	
}


h1{
	color: green;
	text-align: center;
	font-family: "Monaco", Monaco, Monospace;
}

p{
	background: floralwhite;
	border-style: dotted;
	border-width: 2px;
	font-family: "Arial", Arial, Sans-serif;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-size: 20px;
	display: block;
}

iframe{
	border-style: solid lightgray;
	border-width: 2px;
}

table{
	border-style: solid;
	border-width: 3px;
	font-size: 21px;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: blueviolet;
}


#no_border{
	border-style: none;
	font-size: 4px;
}

#subscript{
	font-size: 18px;
	border-style: none;
	padding-top: 0px;
}

.hoverimage {
	border: 3px solid blue;
}


.noisy_table {
	
}

.clarinet_mask {
	/* mask image credit: https://www.pinterest.com/pin/clarinet-silhouette-clip-art-vector-clip-art-online-royalty-clipart-best-clipart-best--177681147773501336/ */ 
	mask: url(clarinet_silhouette.png) no-repeat;
	position: relative;
	bottom: 130px;
	right: 415px;
	z-index: 1;
	mask-size: 50%;
}

.clarinet_mask_border {
	position: relative;
	mask: url(clarinet_silhouette.png) no-repeat;
	mask-size: 60%;
}

.hoverimage:hover {
	border-color: lightblue;
}

table:hover {
	border-color: lightblue;
}

